.sprite-coins-big-ZRX,
.sprite-coins-big-ZIL,
.sprite-coins-big-YFI,
.sprite-coins-big-XTZ,
.sprite-coins-big-XRP,
.sprite-coins-big-XLM,
.sprite-coins-big-XEM,
.sprite-coins-big-WTC,
.sprite-coins-big-WPR,
.sprite-coins-big-WIN,
.sprite-coins-big-WAVES,
.sprite-coins-big-WAN,
.sprite-coins-big-WABI,
.sprite-coins-big-VRA,
.sprite-coins-big-VIDT,
.sprite-coins-big-VGX,
.sprite-coins-big-VET,
.sprite-coins-big-UTK,
.sprite-coins-big-UNI,
.sprite-coins-big-UMA,
.sprite-coins-big-TRX,
.sprite-coins-big-TOMO,
.sprite-coins-big-TNT,
.sprite-coins-big-THETA,
.sprite-coins-big-TFUEL,
.sprite-coins-big-SYS,
.sprite-coins-big-SXP,
.sprite-coins-big-SUSHI,
.sprite-coins-big-STX,
.sprite-coins-big-STRAX,
.sprite-coins-big-STRAT,
.sprite-coins-big-STORJ,
.sprite-coins-big-STMX,
.sprite-coins-big-STEEM,
.sprite-coins-big-SSV,
.sprite-coins-big-SOL,
.sprite-coins-big-SNX,
.sprite-coins-big-SNT,
.sprite-coins-big-SNM,
.sprite-coins-big-SKL,
.sprite-coins-big-SKALE,
.sprite-coins-big-SHIB,
.sprite-coins-big-SCRT,
.sprite-coins-big-SC,
.sprite-coins-big-SAND,
.sprite-coins-big-RSR,
.sprite-coins-big-REQ,
.sprite-coins-big-REP,
.sprite-coins-big-REN,
.sprite-coins-big-REEF,
.sprite-coins-big-RDN,
.sprite-coins-big-QTUM,
.sprite-coins-big-QSP,
.sprite-coins-big-QNT,
.sprite-coins-big-QLC,
.sprite-coins-big-PUNDIX,
.sprite-coins-big-PPT,
.sprite-coins-big-POWR,
.sprite-coins-big-PNT,
.sprite-coins-big-PHB,
.sprite-coins-big-OST,
.sprite-coins-big-ORN,
.sprite-coins-big-OPEN,
.sprite-coins-big-ONT,
.sprite-coins-big-ONE,
.sprite-coins-big-OMG,
.sprite-coins-big-OCEAN,
.sprite-coins-big-NXS,
.sprite-coins-big-NULS,
.sprite-coins-big-NPXS,
.sprite-coins-big-NEO,
.sprite-coins-big-NEBL,
.sprite-coins-big-NEAR,
.sprite-coins-big-NAV,
.sprite-coins-big-NAS,
.sprite-coins-big-NANO,
.sprite-coins-big-MTL,
.sprite-coins-big-MTH,
.sprite-coins-big-MKR,
.sprite-coins-big-MITH,
.sprite-coins-big-MINA,
.sprite-coins-big-MFT,
.sprite-coins-big-MDA,
.sprite-coins-big-MATIC,
.sprite-coins-big-MANA,
.sprite-coins-big-LUNA,
.sprite-coins-big-LUN,
.sprite-coins-big-LTO,
.sprite-coins-big-LTC,
.sprite-coins-big-LSK,
.sprite-coins-big-LRC,
.sprite-coins-big-LOOM,
.sprite-coins-big-LINK,
.sprite-coins-big-LEND,
.sprite-coins-big-KSM,
.sprite-coins-big-KNC,
.sprite-coins-big-KMD,
.sprite-coins-big-KEY,
.sprite-coins-big-KCS,
.sprite-coins-big-KAVA,
.sprite-coins-big-JAR,
.sprite-coins-big-IOTA,
.sprite-coins-big-IOST,
.sprite-coins-big-INS,
.sprite-coins-big-INJ,
.sprite-coins-big-ICX,
.sprite-coins-big-ICP,
.sprite-coins-big-HOT,
.sprite-coins-big-HNT,
.sprite-coins-big-HBAR,
.sprite-coins-big-GXS,
.sprite-coins-big-GTO,
.sprite-coins-big-GRT,
.sprite-coins-big-GO,
.sprite-coins-big-GNT,
.sprite-coins-big-GLM,
.sprite-coins-big-FUN,
.sprite-coins-big-FTT,
.sprite-coins-big-FTM,
.sprite-coins-big-FLOW,
.sprite-coins-big-FIL,
.sprite-coins-big-FET,
.sprite-coins-big-EVX,
.sprite-coins-big-ETH,
.sprite-coins-big-ETC,
.sprite-coins-big-EOS,
.sprite-coins-big-ENJ,
.sprite-coins-big-ENG,
.sprite-coins-big-ELF,
.sprite-coins-big-EGLD,
.sprite-coins-big-DUSK,
.sprite-coins-big-DOT,
.sprite-coins-big-DOGE,
.sprite-coins-big-DOCK,
.sprite-coins-big-DNT,
.sprite-coins-big-DLT,
.sprite-coins-big-DIA,
.sprite-coins-big-DGB,
.sprite-coins-big-DENT,
.sprite-coins-big-CWEB,
.sprite-coins-big-CVC,
.sprite-coins-big-CTSI,
.sprite-coins-big-CS,
.sprite-coins-big-COTI,
.sprite-coins-big-COS,
.sprite-coins-big-COMP,
.sprite-coins-big-COCOS,
.sprite-coins-big-CND,
.sprite-coins-big-CMT,
.sprite-coins-big-CM,
.sprite-coins-big-CHZ,
.sprite-coins-big-CELR,
.sprite-coins-big-CELO,
.sprite-coins-big-CDT,
.sprite-coins-big-CAKE,
.sprite-coins-big-BTT,
.sprite-coins-big-BTS,
.sprite-coins-big-BTC,
.sprite-coins-big-BRD,
.sprite-coins-big-BQX,
.sprite-coins-big-BNT,
.sprite-coins-big-BNB,
.sprite-coins-big-BLZ,
.sprite-coins-big-BCNA,
.sprite-coins-big-BCH,
.sprite-coins-big-BCD,
.sprite-coins-big-BAT,
.sprite-coins-big-BAND,
.sprite-coins-big-AXS,
.sprite-coins-big-AVAX,
.sprite-coins-big-AUDIO,
.sprite-coins-big-ATOM,
.sprite-coins-big-AST,
.sprite-coins-big-ARN,
.sprite-coins-big-ARK,
.sprite-coins-big-ARDR,
.sprite-coins-big-ANKR,
.sprite-coins-big-AMB,
.sprite-coins-big-ALGO,
.sprite-coins-big-AION,
.sprite-coins-big-AGI,
.sprite-coins-big-AEXTRA,
.sprite-coins-big-AE,
.sprite-coins-big-ADX,
.sprite-coins-big-ADA,
.sprite-coins-big-AAVE,
.sprite-coins-big-1INCH {
  /* TODO: figure out how to reference a local image in Remix*/
  background-image: url(coins-big.png);
  background-repeat: no-repeat;
}

.sprite-coins-big-ZRX {
  background-position: 0 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ZIL {
  background-position: -44px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-YFI {
  background-position: 0 -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-XTZ {
  background-position: -44px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-XRP {
  background-position: -88px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-XLM {
  background-position: -88px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-XEM {
  background-position: 0 -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-WTC {
  background-position: -44px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-WPR {
  background-position: -88px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-WIN {
  background-position: -132px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-WAVES {
  background-position: -132px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-WAN {
  background-position: -132px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-WABI {
  background-position: 0 -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-VRA {
  background-position: -44px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-VIDT {
  background-position: -88px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-VGX {
  background-position: -132px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-VET {
  background-position: -176px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-UTK {
  background-position: -176px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-UNI {
  background-position: -176px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-UMA {
  background-position: -176px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-TRX {
  background-position: 0 -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-TOMO {
  background-position: -44px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-TNT {
  background-position: -88px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-THETA {
  background-position: -132px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-TFUEL {
  background-position: -176px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SYS {
  background-position: -220px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SXP {
  background-position: -220px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SUSHI {
  background-position: -220px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-STX {
  background-position: -220px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-STRAX {
  background-position: -220px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-STRAT {
  background-position: 0 -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-STORJ {
  background-position: -44px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-STMX {
  background-position: -88px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-STEEM {
  background-position: -132px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SSV {
  background-position: -176px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SOL {
  background-position: -220px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SNX {
  background-position: -264px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SNT {
  background-position: -264px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SNM {
  background-position: -264px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SKL {
  background-position: -264px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SKALE {
  background-position: -264px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SHIB {
  background-position: -264px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SCRT {
  background-position: 0 -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SC {
  background-position: -44px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-SAND {
  background-position: -88px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-RSR {
  background-position: -132px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-REQ {
  background-position: -176px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-REP {
  background-position: -220px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-REN {
  background-position: -264px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-REEF {
  background-position: -308px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-RDN {
  background-position: -308px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-QTUM {
  background-position: -308px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-QSP {
  background-position: -308px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-QNT {
  background-position: -308px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-QLC {
  background-position: -308px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-PUNDIX {
  background-position: -308px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-PPT {
  background-position: 0 -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-POWR {
  background-position: -44px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-PNT {
  background-position: -88px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-PHB {
  background-position: -132px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-OST {
  background-position: -176px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ORN {
  background-position: -220px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-OPEN {
  background-position: -264px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ONT {
  background-position: -308px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ONE {
  background-position: -352px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-OMG {
  background-position: -352px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-OCEAN {
  background-position: -352px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NXS {
  background-position: -352px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NULS {
  background-position: -352px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NPXS {
  background-position: -352px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NEO {
  background-position: -352px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NEBL {
  background-position: -352px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NEAR {
  background-position: 0 -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NAV {
  background-position: -44px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NAS {
  background-position: -88px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-NANO {
  background-position: -132px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MTL {
  background-position: -176px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MTH {
  background-position: -220px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MKR {
  background-position: -264px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MITH {
  background-position: -308px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MINA {
  background-position: -352px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MFT {
  background-position: -396px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MDA {
  background-position: -396px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MATIC {
  background-position: -396px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-MANA {
  background-position: -396px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LUNA {
  background-position: -396px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LUN {
  background-position: -396px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LTO {
  background-position: -396px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LTC {
  background-position: -396px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LSK {
  background-position: -396px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LRC {
  background-position: 0 -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LOOM {
  background-position: -44px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LINK {
  background-position: -88px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-LEND {
  background-position: -132px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-KSM {
  background-position: -176px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-KNC {
  background-position: -220px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-KMD {
  background-position: -264px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-KEY {
  background-position: -308px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-KCS {
  background-position: -352px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-KAVA {
  background-position: -396px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-JAR {
  background-position: -440px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-IOTA {
  background-position: -440px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-IOST {
  background-position: -440px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-INS {
  background-position: -440px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-INJ {
  background-position: -440px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ICX {
  background-position: -440px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ICP {
  background-position: -440px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-HOT {
  background-position: -440px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-HNT {
  background-position: -440px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-HBAR {
  background-position: -440px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-GXS {
  background-position: 0 -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-GTO {
  background-position: -44px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-GRT {
  background-position: -88px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-GO {
  background-position: -132px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-GNT {
  background-position: -176px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-GLM {
  background-position: -220px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-FUN {
  background-position: -264px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-FTT {
  background-position: -308px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-FTM {
  background-position: -352px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-FLOW {
  background-position: -396px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-FIL {
  background-position: -484px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-FET {
  background-position: -484px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-EVX {
  background-position: -484px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ETH {
  background-position: -484px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ETC {
  background-position: -484px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-EOS {
  background-position: -484px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ENJ {
  background-position: -484px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ENG {
  background-position: -484px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ELF {
  background-position: -484px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-EGLD {
  background-position: -484px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DUSK {
  background-position: -484px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DOT {
  background-position: 0 -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DOGE {
  background-position: -44px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DOCK {
  background-position: -88px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DNT {
  background-position: -132px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DLT {
  background-position: -176px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DIA {
  background-position: -220px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DGB {
  background-position: -264px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-DENT {
  background-position: -308px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CWEB {
  background-position: -352px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CVC {
  background-position: -396px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CTSI {
  background-position: -440px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CS {
  background-position: -484px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-COTI {
  background-position: -528px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-COS {
  background-position: -528px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-COMP {
  background-position: -528px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-COCOS {
  background-position: -528px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CND {
  background-position: -528px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CMT {
  background-position: -528px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CM {
  background-position: -528px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CHZ {
  background-position: -528px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CELR {
  background-position: -528px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CELO {
  background-position: -528px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CDT {
  background-position: -528px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-CAKE {
  background-position: -528px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BTT {
  background-position: 0 -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BTS {
  background-position: -44px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BTC {
  background-position: -88px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BRD {
  background-position: -132px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BQX {
  background-position: -176px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BNT {
  background-position: -220px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BNB {
  background-position: -264px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BLZ {
  background-position: -308px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BCNA {
  background-position: -352px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BCH {
  background-position: -396px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BCD {
  background-position: -440px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BAT {
  background-position: -484px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-BAND {
  background-position: -528px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AXS {
  background-position: -572px 0;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AVAX {
  background-position: -572px -44px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AUDIO {
  background-position: -572px -88px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ATOM {
  background-position: -572px -132px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AST {
  background-position: -572px -176px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ARN {
  background-position: -572px -220px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ARK {
  background-position: -572px -264px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ARDR {
  background-position: -572px -308px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ANKR {
  background-position: -572px -352px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AMB {
  background-position: -572px -396px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ALGO {
  background-position: -572px -440px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AION {
  background-position: -572px -484px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AGI {
  background-position: -572px -528px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AEXTRA {
  background-position: 0 -572px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AE {
  background-position: -44px -572px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ADX {
  background-position: -88px -572px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-ADA {
  background-position: -132px -572px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-AAVE {
  background-position: -176px -572px;
  width: 44px;
  height: 44px;
}

.sprite-coins-big-1INCH {
  background-position: -220px -572px;
  width: 44px;
  height: 44px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1),
  screen and (min--moz-device-pixel-ratio: 1),
  screen and (-o-min-device-pixel-ratio: 100/100),
  screen and (min-device-pixel-ratio: 1),
  screen and (min-resolution: 1dppx) {
  .sprite-coins-big-ZRX,
  .sprite-coins-big-ZIL,
  .sprite-coins-big-YFI,
  .sprite-coins-big-XTZ,
  .sprite-coins-big-XRP,
  .sprite-coins-big-XLM,
  .sprite-coins-big-XEM,
  .sprite-coins-big-WTC,
  .sprite-coins-big-WPR,
  .sprite-coins-big-WIN,
  .sprite-coins-big-WAVES,
  .sprite-coins-big-WAN,
  .sprite-coins-big-WABI,
  .sprite-coins-big-VRA,
  .sprite-coins-big-VIDT,
  .sprite-coins-big-VGX,
  .sprite-coins-big-VET,
  .sprite-coins-big-UTK,
  .sprite-coins-big-UNI,
  .sprite-coins-big-UMA,
  .sprite-coins-big-TRX,
  .sprite-coins-big-TOMO,
  .sprite-coins-big-TNT,
  .sprite-coins-big-THETA,
  .sprite-coins-big-TFUEL,
  .sprite-coins-big-SYS,
  .sprite-coins-big-SXP,
  .sprite-coins-big-SUSHI,
  .sprite-coins-big-STX,
  .sprite-coins-big-STRAX,
  .sprite-coins-big-STRAT,
  .sprite-coins-big-STORJ,
  .sprite-coins-big-STMX,
  .sprite-coins-big-STEEM,
  .sprite-coins-big-SSV,
  .sprite-coins-big-SOL,
  .sprite-coins-big-SNX,
  .sprite-coins-big-SNT,
  .sprite-coins-big-SNM,
  .sprite-coins-big-SKL,
  .sprite-coins-big-SKALE,
  .sprite-coins-big-SHIB,
  .sprite-coins-big-SCRT,
  .sprite-coins-big-SC,
  .sprite-coins-big-SAND,
  .sprite-coins-big-RSR,
  .sprite-coins-big-REQ,
  .sprite-coins-big-REP,
  .sprite-coins-big-REN,
  .sprite-coins-big-REEF,
  .sprite-coins-big-RDN,
  .sprite-coins-big-QTUM,
  .sprite-coins-big-QSP,
  .sprite-coins-big-QNT,
  .sprite-coins-big-QLC,
  .sprite-coins-big-PUNDIX,
  .sprite-coins-big-PPT,
  .sprite-coins-big-POWR,
  .sprite-coins-big-PNT,
  .sprite-coins-big-PHB,
  .sprite-coins-big-OST,
  .sprite-coins-big-ORN,
  .sprite-coins-big-OPEN,
  .sprite-coins-big-ONT,
  .sprite-coins-big-ONE,
  .sprite-coins-big-OMG,
  .sprite-coins-big-OCEAN,
  .sprite-coins-big-NXS,
  .sprite-coins-big-NULS,
  .sprite-coins-big-NPXS,
  .sprite-coins-big-NEO,
  .sprite-coins-big-NEBL,
  .sprite-coins-big-NEAR,
  .sprite-coins-big-NAV,
  .sprite-coins-big-NAS,
  .sprite-coins-big-NANO,
  .sprite-coins-big-MTL,
  .sprite-coins-big-MTH,
  .sprite-coins-big-MKR,
  .sprite-coins-big-MITH,
  .sprite-coins-big-MINA,
  .sprite-coins-big-MFT,
  .sprite-coins-big-MDA,
  .sprite-coins-big-MATIC,
  .sprite-coins-big-MANA,
  .sprite-coins-big-LUNA,
  .sprite-coins-big-LUN,
  .sprite-coins-big-LTO,
  .sprite-coins-big-LTC,
  .sprite-coins-big-LSK,
  .sprite-coins-big-LRC,
  .sprite-coins-big-LOOM,
  .sprite-coins-big-LINK,
  .sprite-coins-big-LEND,
  .sprite-coins-big-KSM,
  .sprite-coins-big-KNC,
  .sprite-coins-big-KMD,
  .sprite-coins-big-KEY,
  .sprite-coins-big-KCS,
  .sprite-coins-big-KAVA,
  .sprite-coins-big-JAR,
  .sprite-coins-big-IOTA,
  .sprite-coins-big-IOST,
  .sprite-coins-big-INS,
  .sprite-coins-big-INJ,
  .sprite-coins-big-ICX,
  .sprite-coins-big-ICP,
  .sprite-coins-big-HOT,
  .sprite-coins-big-HNT,
  .sprite-coins-big-HBAR,
  .sprite-coins-big-GXS,
  .sprite-coins-big-GTO,
  .sprite-coins-big-GRT,
  .sprite-coins-big-GO,
  .sprite-coins-big-GNT,
  .sprite-coins-big-GLM,
  .sprite-coins-big-FUN,
  .sprite-coins-big-FTT,
  .sprite-coins-big-FTM,
  .sprite-coins-big-FLOW,
  .sprite-coins-big-FIL,
  .sprite-coins-big-FET,
  .sprite-coins-big-EVX,
  .sprite-coins-big-ETH,
  .sprite-coins-big-ETC,
  .sprite-coins-big-EOS,
  .sprite-coins-big-ENJ,
  .sprite-coins-big-ENG,
  .sprite-coins-big-ELF,
  .sprite-coins-big-EGLD,
  .sprite-coins-big-DUSK,
  .sprite-coins-big-DOT,
  .sprite-coins-big-DOGE,
  .sprite-coins-big-DOCK,
  .sprite-coins-big-DNT,
  .sprite-coins-big-DLT,
  .sprite-coins-big-DIA,
  .sprite-coins-big-DGB,
  .sprite-coins-big-DENT,
  .sprite-coins-big-CWEB,
  .sprite-coins-big-CVC,
  .sprite-coins-big-CTSI,
  .sprite-coins-big-CS,
  .sprite-coins-big-COTI,
  .sprite-coins-big-COS,
  .sprite-coins-big-COMP,
  .sprite-coins-big-COCOS,
  .sprite-coins-big-CND,
  .sprite-coins-big-CMT,
  .sprite-coins-big-CM,
  .sprite-coins-big-CHZ,
  .sprite-coins-big-CELR,
  .sprite-coins-big-CELO,
  .sprite-coins-big-CDT,
  .sprite-coins-big-CAKE,
  .sprite-coins-big-BTT,
  .sprite-coins-big-BTS,
  .sprite-coins-big-BTC,
  .sprite-coins-big-BRD,
  .sprite-coins-big-BQX,
  .sprite-coins-big-BNT,
  .sprite-coins-big-BNB,
  .sprite-coins-big-BLZ,
  .sprite-coins-big-BCNA,
  .sprite-coins-big-BCH,
  .sprite-coins-big-BCD,
  .sprite-coins-big-BAT,
  .sprite-coins-big-BAND,
  .sprite-coins-big-AXS,
  .sprite-coins-big-AVAX,
  .sprite-coins-big-AUDIO,
  .sprite-coins-big-ATOM,
  .sprite-coins-big-AST,
  .sprite-coins-big-ARN,
  .sprite-coins-big-ARK,
  .sprite-coins-big-ARDR,
  .sprite-coins-big-ANKR,
  .sprite-coins-big-AMB,
  .sprite-coins-big-ALGO,
  .sprite-coins-big-AION,
  .sprite-coins-big-AGI,
  .sprite-coins-big-AEXTRA,
  .sprite-coins-big-AE,
  .sprite-coins-big-ADX,
  .sprite-coins-big-ADA,
  .sprite-coins-big-AAVE,
  .sprite-coins-big-1INCH {
    background-image: url(coins-big.png?v=19012022);
    -webkit-background-size: 616px 616px;
    -moz-background-size: 616px 616px;
    background-size: 616px 616px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min--moz-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 200/100),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .sprite-coins-big-ZRX,
  .sprite-coins-big-ZIL,
  .sprite-coins-big-YFI,
  .sprite-coins-big-XTZ,
  .sprite-coins-big-XRP,
  .sprite-coins-big-XLM,
  .sprite-coins-big-XEM,
  .sprite-coins-big-WTC,
  .sprite-coins-big-WPR,
  .sprite-coins-big-WIN,
  .sprite-coins-big-WAVES,
  .sprite-coins-big-WAN,
  .sprite-coins-big-WABI,
  .sprite-coins-big-VRA,
  .sprite-coins-big-VIDT,
  .sprite-coins-big-VGX,
  .sprite-coins-big-VET,
  .sprite-coins-big-UTK,
  .sprite-coins-big-UNI,
  .sprite-coins-big-UMA,
  .sprite-coins-big-TRX,
  .sprite-coins-big-TOMO,
  .sprite-coins-big-TNT,
  .sprite-coins-big-THETA,
  .sprite-coins-big-TFUEL,
  .sprite-coins-big-SYS,
  .sprite-coins-big-SXP,
  .sprite-coins-big-SUSHI,
  .sprite-coins-big-STX,
  .sprite-coins-big-STRAX,
  .sprite-coins-big-STRAT,
  .sprite-coins-big-STORJ,
  .sprite-coins-big-STMX,
  .sprite-coins-big-STEEM,
  .sprite-coins-big-SSV,
  .sprite-coins-big-SOL,
  .sprite-coins-big-SNX,
  .sprite-coins-big-SNT,
  .sprite-coins-big-SNM,
  .sprite-coins-big-SKL,
  .sprite-coins-big-SKALE,
  .sprite-coins-big-SHIB,
  .sprite-coins-big-SCRT,
  .sprite-coins-big-SC,
  .sprite-coins-big-SAND,
  .sprite-coins-big-RSR,
  .sprite-coins-big-REQ,
  .sprite-coins-big-REP,
  .sprite-coins-big-REN,
  .sprite-coins-big-REEF,
  .sprite-coins-big-RDN,
  .sprite-coins-big-QTUM,
  .sprite-coins-big-QSP,
  .sprite-coins-big-QNT,
  .sprite-coins-big-QLC,
  .sprite-coins-big-PUNDIX,
  .sprite-coins-big-PPT,
  .sprite-coins-big-POWR,
  .sprite-coins-big-PNT,
  .sprite-coins-big-PHB,
  .sprite-coins-big-OST,
  .sprite-coins-big-ORN,
  .sprite-coins-big-OPEN,
  .sprite-coins-big-ONT,
  .sprite-coins-big-ONE,
  .sprite-coins-big-OMG,
  .sprite-coins-big-OCEAN,
  .sprite-coins-big-NXS,
  .sprite-coins-big-NULS,
  .sprite-coins-big-NPXS,
  .sprite-coins-big-NEO,
  .sprite-coins-big-NEBL,
  .sprite-coins-big-NEAR,
  .sprite-coins-big-NAV,
  .sprite-coins-big-NAS,
  .sprite-coins-big-NANO,
  .sprite-coins-big-MTL,
  .sprite-coins-big-MTH,
  .sprite-coins-big-MKR,
  .sprite-coins-big-MITH,
  .sprite-coins-big-MINA,
  .sprite-coins-big-MFT,
  .sprite-coins-big-MDA,
  .sprite-coins-big-MATIC,
  .sprite-coins-big-MANA,
  .sprite-coins-big-LUNA,
  .sprite-coins-big-LUN,
  .sprite-coins-big-LTO,
  .sprite-coins-big-LTC,
  .sprite-coins-big-LSK,
  .sprite-coins-big-LRC,
  .sprite-coins-big-LOOM,
  .sprite-coins-big-LINK,
  .sprite-coins-big-LEND,
  .sprite-coins-big-KSM,
  .sprite-coins-big-KNC,
  .sprite-coins-big-KMD,
  .sprite-coins-big-KEY,
  .sprite-coins-big-KCS,
  .sprite-coins-big-KAVA,
  .sprite-coins-big-JAR,
  .sprite-coins-big-IOTA,
  .sprite-coins-big-IOST,
  .sprite-coins-big-INS,
  .sprite-coins-big-INJ,
  .sprite-coins-big-ICX,
  .sprite-coins-big-ICP,
  .sprite-coins-big-HOT,
  .sprite-coins-big-HNT,
  .sprite-coins-big-HBAR,
  .sprite-coins-big-GXS,
  .sprite-coins-big-GTO,
  .sprite-coins-big-GRT,
  .sprite-coins-big-GO,
  .sprite-coins-big-GNT,
  .sprite-coins-big-GLM,
  .sprite-coins-big-FUN,
  .sprite-coins-big-FTT,
  .sprite-coins-big-FTM,
  .sprite-coins-big-FLOW,
  .sprite-coins-big-FIL,
  .sprite-coins-big-FET,
  .sprite-coins-big-EVX,
  .sprite-coins-big-ETH,
  .sprite-coins-big-ETC,
  .sprite-coins-big-EOS,
  .sprite-coins-big-ENJ,
  .sprite-coins-big-ENG,
  .sprite-coins-big-ELF,
  .sprite-coins-big-EGLD,
  .sprite-coins-big-DUSK,
  .sprite-coins-big-DOT,
  .sprite-coins-big-DOGE,
  .sprite-coins-big-DOCK,
  .sprite-coins-big-DNT,
  .sprite-coins-big-DLT,
  .sprite-coins-big-DIA,
  .sprite-coins-big-DGB,
  .sprite-coins-big-DENT,
  .sprite-coins-big-CWEB,
  .sprite-coins-big-CVC,
  .sprite-coins-big-CTSI,
  .sprite-coins-big-CS,
  .sprite-coins-big-COTI,
  .sprite-coins-big-COS,
  .sprite-coins-big-COMP,
  .sprite-coins-big-COCOS,
  .sprite-coins-big-CND,
  .sprite-coins-big-CMT,
  .sprite-coins-big-CM,
  .sprite-coins-big-CHZ,
  .sprite-coins-big-CELR,
  .sprite-coins-big-CELO,
  .sprite-coins-big-CDT,
  .sprite-coins-big-CAKE,
  .sprite-coins-big-BTT,
  .sprite-coins-big-BTS,
  .sprite-coins-big-BTC,
  .sprite-coins-big-BRD,
  .sprite-coins-big-BQX,
  .sprite-coins-big-BNT,
  .sprite-coins-big-BNB,
  .sprite-coins-big-BLZ,
  .sprite-coins-big-BCNA,
  .sprite-coins-big-BCH,
  .sprite-coins-big-BCD,
  .sprite-coins-big-BAT,
  .sprite-coins-big-BAND,
  .sprite-coins-big-AXS,
  .sprite-coins-big-AVAX,
  .sprite-coins-big-AUDIO,
  .sprite-coins-big-ATOM,
  .sprite-coins-big-AST,
  .sprite-coins-big-ARN,
  .sprite-coins-big-ARK,
  .sprite-coins-big-ARDR,
  .sprite-coins-big-ANKR,
  .sprite-coins-big-AMB,
  .sprite-coins-big-ALGO,
  .sprite-coins-big-AION,
  .sprite-coins-big-AGI,
  .sprite-coins-big-AEXTRA,
  .sprite-coins-big-AE,
  .sprite-coins-big-ADX,
  .sprite-coins-big-ADA,
  .sprite-coins-big-AAVE,
  .sprite-coins-big-1INCH {
    /* TODO: figure out how to reference a local image in Remix*/
    background-image: url(coins-big@2x.png?v=19012022);
    -webkit-background-size: 616px 616px;
    -moz-background-size: 616px 616px;
    background-size: 616px 616px;
  }
}
