.sprite-coins-small-ZRX,
.sprite-coins-small-ZIL,
.sprite-coins-small-YFI,
.sprite-coins-small-XTZ,
.sprite-coins-small-XRP,
.sprite-coins-small-XLM,
.sprite-coins-small-XEM,
.sprite-coins-small-WTC,
.sprite-coins-small-WPR,
.sprite-coins-small-WIN,
.sprite-coins-small-WAVES,
.sprite-coins-small-WAN,
.sprite-coins-small-WABI,
.sprite-coins-small-VRA,
.sprite-coins-small-VIDT,
.sprite-coins-small-VGX,
.sprite-coins-small-VET,
.sprite-coins-small-UTK,
.sprite-coins-small-UNI,
.sprite-coins-small-UMA,
.sprite-coins-small-TRX,
.sprite-coins-small-TOMO,
.sprite-coins-small-TNT,
.sprite-coins-small-THETA,
.sprite-coins-small-TFUEL,
.sprite-coins-small-SYS,
.sprite-coins-small-SXP,
.sprite-coins-small-SUSHI,
.sprite-coins-small-STX,
.sprite-coins-small-STRAX,
.sprite-coins-small-STRAT,
.sprite-coins-small-STORJ,
.sprite-coins-small-STMX,
.sprite-coins-small-STEEM,
.sprite-coins-small-SSV,
.sprite-coins-small-SOL,
.sprite-coins-small-SNX,
.sprite-coins-small-SNT,
.sprite-coins-small-SNM,
.sprite-coins-small-SKL,
.sprite-coins-small-SKALE,
.sprite-coins-small-SHIB,
.sprite-coins-small-SCRT,
.sprite-coins-small-SC,
.sprite-coins-small-SAND,
.sprite-coins-small-RSR,
.sprite-coins-small-REQ,
.sprite-coins-small-REP,
.sprite-coins-small-REN,
.sprite-coins-small-REEF,
.sprite-coins-small-RDN,
.sprite-coins-small-QTUM,
.sprite-coins-small-QSP,
.sprite-coins-small-QNT,
.sprite-coins-small-QLC,
.sprite-coins-small-PUNDIX,
.sprite-coins-small-PPT,
.sprite-coins-small-POWR,
.sprite-coins-small-PNT,
.sprite-coins-small-PHB,
.sprite-coins-small-OST,
.sprite-coins-small-ORN,
.sprite-coins-small-OPEN,
.sprite-coins-small-ONT,
.sprite-coins-small-ONE,
.sprite-coins-small-OMG,
.sprite-coins-small-OCEAN,
.sprite-coins-small-NXS,
.sprite-coins-small-NULS,
.sprite-coins-small-NPXS,
.sprite-coins-small-NEO,
.sprite-coins-small-NEBL,
.sprite-coins-small-NEAR,
.sprite-coins-small-NAV,
.sprite-coins-small-NAS,
.sprite-coins-small-NANO,
.sprite-coins-small-MTL,
.sprite-coins-small-MTH,
.sprite-coins-small-MKR,
.sprite-coins-small-MITH,
.sprite-coins-small-MINA,
.sprite-coins-small-MFT,
.sprite-coins-small-MDA,
.sprite-coins-small-MATIC,
.sprite-coins-small-MANA,
.sprite-coins-small-LUNA,
.sprite-coins-small-LUN,
.sprite-coins-small-LTO,
.sprite-coins-small-LTC,
.sprite-coins-small-LSK,
.sprite-coins-small-LRC,
.sprite-coins-small-LOOM,
.sprite-coins-small-LINK,
.sprite-coins-small-LEND,
.sprite-coins-small-KSM,
.sprite-coins-small-KNC,
.sprite-coins-small-KMD,
.sprite-coins-small-KEY,
.sprite-coins-small-KCS,
.sprite-coins-small-KAVA,
.sprite-coins-small-JAR,
.sprite-coins-small-IOTA,
.sprite-coins-small-IOST,
.sprite-coins-small-INS,
.sprite-coins-small-INJ,
.sprite-coins-small-ICX,
.sprite-coins-small-ICP,
.sprite-coins-small-HOT,
.sprite-coins-small-HNT,
.sprite-coins-small-HBAR,
.sprite-coins-small-GXS,
.sprite-coins-small-GTO,
.sprite-coins-small-GRT,
.sprite-coins-small-GO,
.sprite-coins-small-GNT,
.sprite-coins-small-GLM,
.sprite-coins-small-FUN,
.sprite-coins-small-FTT,
.sprite-coins-small-FTM,
.sprite-coins-small-FLOW,
.sprite-coins-small-FIL,
.sprite-coins-small-FET,
.sprite-coins-small-EVX,
.sprite-coins-small-ETH,
.sprite-coins-small-ETC,
.sprite-coins-small-EOS,
.sprite-coins-small-ENJ,
.sprite-coins-small-ENG,
.sprite-coins-small-ELF,
.sprite-coins-small-EGLD,
.sprite-coins-small-DUSK,
.sprite-coins-small-DOT,
.sprite-coins-small-DOGE,
.sprite-coins-small-DOCK,
.sprite-coins-small-DNT,
.sprite-coins-small-DLT,
.sprite-coins-small-DIA,
.sprite-coins-small-DGB,
.sprite-coins-small-DENT,
.sprite-coins-small-CWEB,
.sprite-coins-small-CVC,
.sprite-coins-small-CTSI,
.sprite-coins-small-CS,
.sprite-coins-small-COTI,
.sprite-coins-small-COS,
.sprite-coins-small-COMP,
.sprite-coins-small-COCOS,
.sprite-coins-small-CND,
.sprite-coins-small-CMT,
.sprite-coins-small-CM,
.sprite-coins-small-CHZ,
.sprite-coins-small-CELR,
.sprite-coins-small-CELO,
.sprite-coins-small-CDT,
.sprite-coins-small-CAKE,
.sprite-coins-small-BTT,
.sprite-coins-small-BTS,
.sprite-coins-small-BTC,
.sprite-coins-small-BRD,
.sprite-coins-small-BQX,
.sprite-coins-small-BNT,
.sprite-coins-small-BNB,
.sprite-coins-small-BLZ,
.sprite-coins-small-BCNA,
.sprite-coins-small-BCH,
.sprite-coins-small-BCD,
.sprite-coins-small-BAT,
.sprite-coins-small-BAND,
.sprite-coins-small-AXS,
.sprite-coins-small-AVAX,
.sprite-coins-small-AUDIO,
.sprite-coins-small-ATOM,
.sprite-coins-small-AST,
.sprite-coins-small-ARN,
.sprite-coins-small-ARK,
.sprite-coins-small-ARDR,
.sprite-coins-small-ANKR,
.sprite-coins-small-AMB,
.sprite-coins-small-ALGO,
.sprite-coins-small-AION,
.sprite-coins-small-AGI,
.sprite-coins-small-AEXTRA,
.sprite-coins-small-AE,
.sprite-coins-small-ADX,
.sprite-coins-small-ADA,
.sprite-coins-small-AAVE,
.sprite-coins-small-1INCH {
  background-image: url(coins-small.png?v=19012022);
  background-repeat: no-repeat;
}

.sprite-coins-small-ZRX {
  background-position: 0 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ZIL {
  background-position: -30px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-YFI {
  background-position: 0 -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-XTZ {
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-XRP {
  background-position: -60px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-XLM {
  background-position: -60px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-XEM {
  background-position: 0 -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-WTC {
  background-position: -30px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-WPR {
  background-position: -60px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-WIN {
  background-position: -90px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-WAVES {
  background-position: -90px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-WAN {
  background-position: -90px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-WABI {
  background-position: 0 -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-VRA {
  background-position: -30px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-VIDT {
  background-position: -60px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-VGX {
  background-position: -90px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-VET {
  background-position: -120px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-UTK {
  background-position: -120px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-UNI {
  background-position: -120px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-UMA {
  background-position: -120px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-TRX {
  background-position: 0 -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-TOMO {
  background-position: -30px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-TNT {
  background-position: -60px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-THETA {
  background-position: -90px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-TFUEL {
  background-position: -120px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SYS {
  background-position: -150px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SXP {
  background-position: -150px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SUSHI {
  background-position: -150px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-STX {
  background-position: -150px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-STRAX {
  background-position: -150px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-STRAT {
  background-position: 0 -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-STORJ {
  background-position: -30px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-STMX {
  background-position: -60px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-STEEM {
  background-position: -90px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SSV {
  background-position: -120px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SOL {
  background-position: -150px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SNX {
  background-position: -180px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SNT {
  background-position: -180px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SNM {
  background-position: -180px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SKL {
  background-position: -180px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SKALE {
  background-position: -180px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SHIB {
  background-position: -180px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SCRT {
  background-position: 0 -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SC {
  background-position: -30px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-SAND {
  background-position: -60px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-RSR {
  background-position: -90px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-REQ {
  background-position: -120px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-REP {
  background-position: -150px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-REN {
  background-position: -180px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-REEF {
  background-position: -210px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-RDN {
  background-position: -210px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-QTUM {
  background-position: -210px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-QSP {
  background-position: -210px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-QNT {
  background-position: -210px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-QLC {
  background-position: -210px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-PUNDIX {
  background-position: -210px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-PPT {
  background-position: 0 -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-POWR {
  background-position: -30px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-PNT {
  background-position: -60px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-PHB {
  background-position: -90px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-OST {
  background-position: -120px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ORN {
  background-position: -150px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-OPEN {
  background-position: -180px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ONT {
  background-position: -210px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ONE {
  background-position: -240px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-OMG {
  background-position: -240px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-OCEAN {
  background-position: -240px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NXS {
  background-position: -240px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NULS {
  background-position: -240px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NPXS {
  background-position: -240px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NEO {
  background-position: -240px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NEBL {
  background-position: -240px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NEAR {
  background-position: 0 -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NAV {
  background-position: -30px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NAS {
  background-position: -60px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-NANO {
  background-position: -90px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MTL {
  background-position: -120px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MTH {
  background-position: -150px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MKR {
  background-position: -180px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MITH {
  background-position: -210px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MINA {
  background-position: -240px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MFT {
  background-position: -270px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MDA {
  background-position: -270px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MATIC {
  background-position: -270px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-MANA {
  background-position: -270px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LUNA {
  background-position: -270px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LUN {
  background-position: -270px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LTO {
  background-position: -270px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LTC {
  background-position: -270px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LSK {
  background-position: -270px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LRC {
  background-position: 0 -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LOOM {
  background-position: -30px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LINK {
  background-position: -60px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-LEND {
  background-position: -90px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-KSM {
  background-position: -120px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-KNC {
  background-position: -150px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-KMD {
  background-position: -180px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-KEY {
  background-position: -210px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-KCS {
  background-position: -240px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-KAVA {
  background-position: -270px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-JAR {
  background-position: -300px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-IOTA {
  background-position: -300px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-IOST {
  background-position: -300px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-INS {
  background-position: -300px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-INJ {
  background-position: -300px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ICX {
  background-position: -300px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ICP {
  background-position: -300px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-HOT {
  background-position: -300px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-HNT {
  background-position: -300px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-HBAR {
  background-position: -300px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-GXS {
  background-position: 0 -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-GTO {
  background-position: -30px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-GRT {
  background-position: -60px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-GO {
  background-position: -90px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-GNT {
  background-position: -120px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-GLM {
  background-position: -150px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-FUN {
  background-position: -180px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-FTT {
  background-position: -210px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-FTM {
  background-position: -240px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-FLOW {
  background-position: -270px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-FIL {
  background-position: -330px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-FET {
  background-position: -330px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-EVX {
  background-position: -330px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ETH {
  background-position: -330px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ETC {
  background-position: -330px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-EOS {
  background-position: -330px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ENJ {
  background-position: -330px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ENG {
  background-position: -330px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ELF {
  background-position: -330px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-EGLD {
  background-position: -330px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DUSK {
  background-position: -330px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DOT {
  background-position: 0 -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DOGE {
  background-position: -30px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DOCK {
  background-position: -60px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DNT {
  background-position: -90px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DLT {
  background-position: -120px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DIA {
  background-position: -150px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DGB {
  background-position: -180px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-DENT {
  background-position: -210px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CWEB {
  background-position: -240px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CVC {
  background-position: -270px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CTSI {
  background-position: -300px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CS {
  background-position: -330px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-COTI {
  background-position: -360px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-COS {
  background-position: -360px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-COMP {
  background-position: -360px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-COCOS {
  background-position: -360px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CND {
  background-position: -360px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CMT {
  background-position: -360px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CM {
  background-position: -360px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CHZ {
  background-position: -360px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CELR {
  background-position: -360px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CELO {
  background-position: -360px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CDT {
  background-position: -360px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-CAKE {
  background-position: -360px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BTT {
  background-position: 0 -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BTS {
  background-position: -30px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BTC {
  background-position: -60px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BRD {
  background-position: -90px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BQX {
  background-position: -120px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BNT {
  background-position: -150px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BNB {
  background-position: -180px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BLZ {
  background-position: -210px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BCNA {
  background-position: -240px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BCH {
  background-position: -270px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BCD {
  background-position: -300px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BAT {
  background-position: -330px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-BAND {
  background-position: -360px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AXS {
  background-position: -390px 0;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AVAX {
  background-position: -390px -30px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AUDIO {
  background-position: -390px -60px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ATOM {
  background-position: -390px -90px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AST {
  background-position: -390px -120px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ARN {
  background-position: -390px -150px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ARK {
  background-position: -390px -180px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ARDR {
  background-position: -390px -210px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ANKR {
  background-position: -390px -240px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AMB {
  background-position: -390px -270px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ALGO {
  background-position: -390px -300px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AION {
  background-position: -390px -330px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AGI {
  background-position: -390px -360px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AEXTRA {
  background-position: 0 -390px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AE {
  background-position: -30px -390px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ADX {
  background-position: -60px -390px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-ADA {
  background-position: -90px -390px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-AAVE {
  background-position: -120px -390px;
  width: 30px;
  height: 30px;
}

.sprite-coins-small-1INCH {
  background-position: -150px -390px;
  width: 30px;
  height: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1),
  screen and (min--moz-device-pixel-ratio: 1),
  screen and (-o-min-device-pixel-ratio: 100/100),
  screen and (min-device-pixel-ratio: 1),
  screen and (min-resolution: 1dppx) {
  .sprite-coins-small-ZRX,
  .sprite-coins-small-ZIL,
  .sprite-coins-small-YFI,
  .sprite-coins-small-XTZ,
  .sprite-coins-small-XRP,
  .sprite-coins-small-XLM,
  .sprite-coins-small-XEM,
  .sprite-coins-small-WTC,
  .sprite-coins-small-WPR,
  .sprite-coins-small-WIN,
  .sprite-coins-small-WAVES,
  .sprite-coins-small-WAN,
  .sprite-coins-small-WABI,
  .sprite-coins-small-VRA,
  .sprite-coins-small-VIDT,
  .sprite-coins-small-VGX,
  .sprite-coins-small-VET,
  .sprite-coins-small-UTK,
  .sprite-coins-small-UNI,
  .sprite-coins-small-UMA,
  .sprite-coins-small-TRX,
  .sprite-coins-small-TOMO,
  .sprite-coins-small-TNT,
  .sprite-coins-small-THETA,
  .sprite-coins-small-TFUEL,
  .sprite-coins-small-SYS,
  .sprite-coins-small-SXP,
  .sprite-coins-small-SUSHI,
  .sprite-coins-small-STX,
  .sprite-coins-small-STRAX,
  .sprite-coins-small-STRAT,
  .sprite-coins-small-STORJ,
  .sprite-coins-small-STMX,
  .sprite-coins-small-STEEM,
  .sprite-coins-small-SSV,
  .sprite-coins-small-SOL,
  .sprite-coins-small-SNX,
  .sprite-coins-small-SNT,
  .sprite-coins-small-SNM,
  .sprite-coins-small-SKL,
  .sprite-coins-small-SKALE,
  .sprite-coins-small-SHIB,
  .sprite-coins-small-SCRT,
  .sprite-coins-small-SC,
  .sprite-coins-small-SAND,
  .sprite-coins-small-RSR,
  .sprite-coins-small-REQ,
  .sprite-coins-small-REP,
  .sprite-coins-small-REN,
  .sprite-coins-small-REEF,
  .sprite-coins-small-RDN,
  .sprite-coins-small-QTUM,
  .sprite-coins-small-QSP,
  .sprite-coins-small-QNT,
  .sprite-coins-small-QLC,
  .sprite-coins-small-PUNDIX,
  .sprite-coins-small-PPT,
  .sprite-coins-small-POWR,
  .sprite-coins-small-PNT,
  .sprite-coins-small-PHB,
  .sprite-coins-small-OST,
  .sprite-coins-small-ORN,
  .sprite-coins-small-OPEN,
  .sprite-coins-small-ONT,
  .sprite-coins-small-ONE,
  .sprite-coins-small-OMG,
  .sprite-coins-small-OCEAN,
  .sprite-coins-small-NXS,
  .sprite-coins-small-NULS,
  .sprite-coins-small-NPXS,
  .sprite-coins-small-NEO,
  .sprite-coins-small-NEBL,
  .sprite-coins-small-NEAR,
  .sprite-coins-small-NAV,
  .sprite-coins-small-NAS,
  .sprite-coins-small-NANO,
  .sprite-coins-small-MTL,
  .sprite-coins-small-MTH,
  .sprite-coins-small-MKR,
  .sprite-coins-small-MITH,
  .sprite-coins-small-MINA,
  .sprite-coins-small-MFT,
  .sprite-coins-small-MDA,
  .sprite-coins-small-MATIC,
  .sprite-coins-small-MANA,
  .sprite-coins-small-LUNA,
  .sprite-coins-small-LUN,
  .sprite-coins-small-LTO,
  .sprite-coins-small-LTC,
  .sprite-coins-small-LSK,
  .sprite-coins-small-LRC,
  .sprite-coins-small-LOOM,
  .sprite-coins-small-LINK,
  .sprite-coins-small-LEND,
  .sprite-coins-small-KSM,
  .sprite-coins-small-KNC,
  .sprite-coins-small-KMD,
  .sprite-coins-small-KEY,
  .sprite-coins-small-KCS,
  .sprite-coins-small-KAVA,
  .sprite-coins-small-JAR,
  .sprite-coins-small-IOTA,
  .sprite-coins-small-IOST,
  .sprite-coins-small-INS,
  .sprite-coins-small-INJ,
  .sprite-coins-small-ICX,
  .sprite-coins-small-ICP,
  .sprite-coins-small-HOT,
  .sprite-coins-small-HNT,
  .sprite-coins-small-HBAR,
  .sprite-coins-small-GXS,
  .sprite-coins-small-GTO,
  .sprite-coins-small-GRT,
  .sprite-coins-small-GO,
  .sprite-coins-small-GNT,
  .sprite-coins-small-GLM,
  .sprite-coins-small-FUN,
  .sprite-coins-small-FTT,
  .sprite-coins-small-FTM,
  .sprite-coins-small-FLOW,
  .sprite-coins-small-FIL,
  .sprite-coins-small-FET,
  .sprite-coins-small-EVX,
  .sprite-coins-small-ETH,
  .sprite-coins-small-ETC,
  .sprite-coins-small-EOS,
  .sprite-coins-small-ENJ,
  .sprite-coins-small-ENG,
  .sprite-coins-small-ELF,
  .sprite-coins-small-EGLD,
  .sprite-coins-small-DUSK,
  .sprite-coins-small-DOT,
  .sprite-coins-small-DOGE,
  .sprite-coins-small-DOCK,
  .sprite-coins-small-DNT,
  .sprite-coins-small-DLT,
  .sprite-coins-small-DIA,
  .sprite-coins-small-DGB,
  .sprite-coins-small-DENT,
  .sprite-coins-small-CWEB,
  .sprite-coins-small-CVC,
  .sprite-coins-small-CTSI,
  .sprite-coins-small-CS,
  .sprite-coins-small-COTI,
  .sprite-coins-small-COS,
  .sprite-coins-small-COMP,
  .sprite-coins-small-COCOS,
  .sprite-coins-small-CND,
  .sprite-coins-small-CMT,
  .sprite-coins-small-CM,
  .sprite-coins-small-CHZ,
  .sprite-coins-small-CELR,
  .sprite-coins-small-CELO,
  .sprite-coins-small-CDT,
  .sprite-coins-small-CAKE,
  .sprite-coins-small-BTT,
  .sprite-coins-small-BTS,
  .sprite-coins-small-BTC,
  .sprite-coins-small-BRD,
  .sprite-coins-small-BQX,
  .sprite-coins-small-BNT,
  .sprite-coins-small-BNB,
  .sprite-coins-small-BLZ,
  .sprite-coins-small-BCNA,
  .sprite-coins-small-BCH,
  .sprite-coins-small-BCD,
  .sprite-coins-small-BAT,
  .sprite-coins-small-BAND,
  .sprite-coins-small-AXS,
  .sprite-coins-small-AVAX,
  .sprite-coins-small-AUDIO,
  .sprite-coins-small-ATOM,
  .sprite-coins-small-AST,
  .sprite-coins-small-ARN,
  .sprite-coins-small-ARK,
  .sprite-coins-small-ARDR,
  .sprite-coins-small-ANKR,
  .sprite-coins-small-AMB,
  .sprite-coins-small-ALGO,
  .sprite-coins-small-AION,
  .sprite-coins-small-AGI,
  .sprite-coins-small-AEXTRA,
  .sprite-coins-small-AE,
  .sprite-coins-small-ADX,
  .sprite-coins-small-ADA,
  .sprite-coins-small-AAVE,
  .sprite-coins-small-1INCH {
    background-image: url(coins-small.png?v=19012022);
    -webkit-background-size: 420px 420px;
    -moz-background-size: 420px 420px;
    background-size: 420px 420px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min--moz-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 200/100),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .sprite-coins-small-ZRX,
  .sprite-coins-small-ZIL,
  .sprite-coins-small-YFI,
  .sprite-coins-small-XTZ,
  .sprite-coins-small-XRP,
  .sprite-coins-small-XLM,
  .sprite-coins-small-XEM,
  .sprite-coins-small-WTC,
  .sprite-coins-small-WPR,
  .sprite-coins-small-WIN,
  .sprite-coins-small-WAVES,
  .sprite-coins-small-WAN,
  .sprite-coins-small-WABI,
  .sprite-coins-small-VRA,
  .sprite-coins-small-VIDT,
  .sprite-coins-small-VGX,
  .sprite-coins-small-VET,
  .sprite-coins-small-UTK,
  .sprite-coins-small-UNI,
  .sprite-coins-small-UMA,
  .sprite-coins-small-TRX,
  .sprite-coins-small-TOMO,
  .sprite-coins-small-TNT,
  .sprite-coins-small-THETA,
  .sprite-coins-small-TFUEL,
  .sprite-coins-small-SYS,
  .sprite-coins-small-SXP,
  .sprite-coins-small-SUSHI,
  .sprite-coins-small-STX,
  .sprite-coins-small-STRAX,
  .sprite-coins-small-STRAT,
  .sprite-coins-small-STORJ,
  .sprite-coins-small-STMX,
  .sprite-coins-small-STEEM,
  .sprite-coins-small-SSV,
  .sprite-coins-small-SOL,
  .sprite-coins-small-SNX,
  .sprite-coins-small-SNT,
  .sprite-coins-small-SNM,
  .sprite-coins-small-SKL,
  .sprite-coins-small-SKALE,
  .sprite-coins-small-SHIB,
  .sprite-coins-small-SCRT,
  .sprite-coins-small-SC,
  .sprite-coins-small-SAND,
  .sprite-coins-small-RSR,
  .sprite-coins-small-REQ,
  .sprite-coins-small-REP,
  .sprite-coins-small-REN,
  .sprite-coins-small-REEF,
  .sprite-coins-small-RDN,
  .sprite-coins-small-QTUM,
  .sprite-coins-small-QSP,
  .sprite-coins-small-QNT,
  .sprite-coins-small-QLC,
  .sprite-coins-small-PUNDIX,
  .sprite-coins-small-PPT,
  .sprite-coins-small-POWR,
  .sprite-coins-small-PNT,
  .sprite-coins-small-PHB,
  .sprite-coins-small-OST,
  .sprite-coins-small-ORN,
  .sprite-coins-small-OPEN,
  .sprite-coins-small-ONT,
  .sprite-coins-small-ONE,
  .sprite-coins-small-OMG,
  .sprite-coins-small-OCEAN,
  .sprite-coins-small-NXS,
  .sprite-coins-small-NULS,
  .sprite-coins-small-NPXS,
  .sprite-coins-small-NEO,
  .sprite-coins-small-NEBL,
  .sprite-coins-small-NEAR,
  .sprite-coins-small-NAV,
  .sprite-coins-small-NAS,
  .sprite-coins-small-NANO,
  .sprite-coins-small-MTL,
  .sprite-coins-small-MTH,
  .sprite-coins-small-MKR,
  .sprite-coins-small-MITH,
  .sprite-coins-small-MINA,
  .sprite-coins-small-MFT,
  .sprite-coins-small-MDA,
  .sprite-coins-small-MATIC,
  .sprite-coins-small-MANA,
  .sprite-coins-small-LUNA,
  .sprite-coins-small-LUN,
  .sprite-coins-small-LTO,
  .sprite-coins-small-LTC,
  .sprite-coins-small-LSK,
  .sprite-coins-small-LRC,
  .sprite-coins-small-LOOM,
  .sprite-coins-small-LINK,
  .sprite-coins-small-LEND,
  .sprite-coins-small-KSM,
  .sprite-coins-small-KNC,
  .sprite-coins-small-KMD,
  .sprite-coins-small-KEY,
  .sprite-coins-small-KCS,
  .sprite-coins-small-KAVA,
  .sprite-coins-small-JAR,
  .sprite-coins-small-IOTA,
  .sprite-coins-small-IOST,
  .sprite-coins-small-INS,
  .sprite-coins-small-INJ,
  .sprite-coins-small-ICX,
  .sprite-coins-small-ICP,
  .sprite-coins-small-HOT,
  .sprite-coins-small-HNT,
  .sprite-coins-small-HBAR,
  .sprite-coins-small-GXS,
  .sprite-coins-small-GTO,
  .sprite-coins-small-GRT,
  .sprite-coins-small-GO,
  .sprite-coins-small-GNT,
  .sprite-coins-small-GLM,
  .sprite-coins-small-FUN,
  .sprite-coins-small-FTT,
  .sprite-coins-small-FTM,
  .sprite-coins-small-FLOW,
  .sprite-coins-small-FIL,
  .sprite-coins-small-FET,
  .sprite-coins-small-EVX,
  .sprite-coins-small-ETH,
  .sprite-coins-small-ETC,
  .sprite-coins-small-EOS,
  .sprite-coins-small-ENJ,
  .sprite-coins-small-ENG,
  .sprite-coins-small-ELF,
  .sprite-coins-small-EGLD,
  .sprite-coins-small-DUSK,
  .sprite-coins-small-DOT,
  .sprite-coins-small-DOGE,
  .sprite-coins-small-DOCK,
  .sprite-coins-small-DNT,
  .sprite-coins-small-DLT,
  .sprite-coins-small-DIA,
  .sprite-coins-small-DGB,
  .sprite-coins-small-DENT,
  .sprite-coins-small-CWEB,
  .sprite-coins-small-CVC,
  .sprite-coins-small-CTSI,
  .sprite-coins-small-CS,
  .sprite-coins-small-COTI,
  .sprite-coins-small-COS,
  .sprite-coins-small-COMP,
  .sprite-coins-small-COCOS,
  .sprite-coins-small-CND,
  .sprite-coins-small-CMT,
  .sprite-coins-small-CM,
  .sprite-coins-small-CHZ,
  .sprite-coins-small-CELR,
  .sprite-coins-small-CELO,
  .sprite-coins-small-CDT,
  .sprite-coins-small-CAKE,
  .sprite-coins-small-BTT,
  .sprite-coins-small-BTS,
  .sprite-coins-small-BTC,
  .sprite-coins-small-BRD,
  .sprite-coins-small-BQX,
  .sprite-coins-small-BNT,
  .sprite-coins-small-BNB,
  .sprite-coins-small-BLZ,
  .sprite-coins-small-BCNA,
  .sprite-coins-small-BCH,
  .sprite-coins-small-BCD,
  .sprite-coins-small-BAT,
  .sprite-coins-small-BAND,
  .sprite-coins-small-AXS,
  .sprite-coins-small-AVAX,
  .sprite-coins-small-AUDIO,
  .sprite-coins-small-ATOM,
  .sprite-coins-small-AST,
  .sprite-coins-small-ARN,
  .sprite-coins-small-ARK,
  .sprite-coins-small-ARDR,
  .sprite-coins-small-ANKR,
  .sprite-coins-small-AMB,
  .sprite-coins-small-ALGO,
  .sprite-coins-small-AION,
  .sprite-coins-small-AGI,
  .sprite-coins-small-AEXTRA,
  .sprite-coins-small-AE,
  .sprite-coins-small-ADX,
  .sprite-coins-small-ADA,
  .sprite-coins-small-AAVE,
  .sprite-coins-small-1INCH {
    background-image: url(coins-small@2x.png?v=19012022);
    -webkit-background-size: 420px 420px;
    -moz-background-size: 420px 420px;
    background-size: 420px 420px;
  }
}
